@mixin recherche {
    border: none;
    font-size: 1rem;
    padding: 20px 5px 20px 5px;
    margin-top: 5px;
    text-align: center;
    width: 150px;
}

@mixin bg-banderole-color {
    background-color: $fond;
    box-shadow: inset 0px 11px 5px -10px $shadow-color;
}

@mixin bt-model {
    cursor: pointer;
    margin-top: 20px;
    background: $rainbow-color;
    padding: 10px;
    border-radius: 20px;

    & p {
        color: white;
    }

}

@mixin ombre {
    box-shadow: 0px 4px 5px $shadow-color;
}

@mixin ombre-light {
    box-shadow: 2px 2px 10px $shadow-color;
}

@mixin liste-fonctionnement {
    display: flex;
    align-items: center;
    background-color: lighten($fond, 5%);
    margin: 20px 0px 20px 0px;
    padding: 20px 10px 20px 10px;
    border-radius: 20px;
}

@mixin survol ($color:whitesmoke) {
    position: relative;
    z-index: 1;

    &:hover {
        &::after {
            opacity: 0.2;
        }
    }

    &::after {
        content: "";
        position: absolute;
        border-radius: 20px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $color;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
}

@mixin survol-bis ($color:whitesmoke) {
    position: relative;
    z-index: 1;

    &:hover {
        &::after {
            opacity: 0.2;
        }
    }

    &::after {
        content: "";
        position: absolute;
        border-radius: 10px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $color;
        opacity: 0;
        z-index: 1;
        transition: opacity 250ms;
    }
}

@mixin new {
    margin-left: -105px;
    margin-top: 15px;

    p {
        background-color: $color-new-bg;
        color: $color-new-text;
        border-radius: 2px;
        padding: 8px 15px 8px 15px;
        font-weight: bold;
    }


}

@mixin footer-icon-text {
    height: 1em;
    width: 1em;
    display: flex;
    justify-content: center;

    img {
        height: 100%;
        width: auto;
    }
}

@mixin titre-ordre-line {
    border-top-width: 3px;
    border-top-style: solid;
    width: 17%;
    border-color: $color-tertiary;
}

@mixin plat-model {
    display: flex;
    position: relative;
    cursor: pointer;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
    width: auto;
    background-color: white;
    overflow: hidden;
}

@mixin plat-select-model {
    border-radius: 0px 15px 15px 0px;
    background-color: $color-tertiary;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin cercle-check-model {
    min-width: 25px;
    min-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 25px;

    p {
        color: $color-tertiary;
    }
}