$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-new-bg:#99e2d0;
$color-new-text:#008766;
$fond: #eaeaea;
$shadow-color: #CCC;
$footer-color: #353535;
$rainbow-color: linear-gradient(0deg, $color-primary 0%, $color-secondary 100%);

$padding-bt-court : 10px;
$padding-bt-long : 10px 20px 10px 20px;

$nombre-plat: (trois:3, quatre:4);
$anim-dur: 300ms;
$anim-delay: $anim-dur / 0.7;

/* Animation apparition des vignettes */

@keyframes vignette {
    0% {
        animation-timing-function: cubic-bezier(.17, .67, .83, .67);
        transform: translateY(0.5rem);
        opacity: 0%;
    }

    100% {
        animation-timing-function: cubic-bezier(.17, .67, .83, .67);
        opacity: 100%;
        transform: translateY(0rem);
    }
}

/* Animation du loader */

@keyframes loader {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

@keyframes vague {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    4% {
        transform: translateY(-25px);
    }

    8% {
        transform: translateY(0);
        opacity: 1;
    }

    70% {
        opacity: 0;
    }
}