/*Liste "fonctionnement"*/
#menu-fonctionnement {
    margin: 20px;
}

.bt-fonctionnement {
    @include liste-fonctionnement;
    @include ombre;
    @include survol ($color:darkgrey);

    &__numero {
        display: flex;
        width: 1.2em;
        height: 1.2em;
        margin-left: -18px;
        background: $color-primary;
        align-items: center;
        justify-content: space-around;
        border-radius: 50px;
        color: white;
    }

    &__logo {
        height: 16px;
        width: auto;
    }

    img {
        height: 16px;
        width: auto;
        margin: 0px 15px 0px 15px;
    }

    p {
        font-weight: bold;
        color: black;
    }
}