.bt-fonctionnement {
    @include fonctionnement;
    @include ombre;

    &__numero {
        @include bt-fonctionnement__numero;
    }

    &__logo {
        height: 16px;
        width: auto;
    }

    img {
        height: 16px;
        width: auto;
        margin: 0px 15px 0px 15px;
    }

    p {
        font-weight: bold;
        color: black;
    }

    &:hover {
        background-color: $fond;
    }
}