/*Menu par retaurant*/
* {
    box-sizing: border-box;
}

#menu-degustation {
    background-color: lighten($fond, 5%);
    margin-top: -50px;
    border-radius: 20px 20px 0px 0px;
    padding: 20px 10px 30px 10px;
}

.nom-retaurant {
    display: flex;
    align-items: center;
    font-family: Shrikhand, sans-serif;
    margin-bottom: 30px;
    justify-content: space-between;

    img {
        width: 1.2em;
    }
}

.titre-ordre {
    margin-top: 20px;

    h2 {
        font-weight: normal;
    }

    &-plat-div {
        margin-bottom: 15px;
    }
}



.line {
    @include titre-ordre-line;
}

.liste-plat {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.vignette-plat {
    @include plat-model;
    @include ombre-light;
    animation: vignette $anim-dur backwards;

    @for $i from 1 through 4 {
        &-#{$i} {
            animation-delay: $anim-delay * $i;
        }
    }
}

.plat-detail-prix {
    padding-left: 10px;
}

.plat-select {
    position: absolute;
    transition: all 450ms ease-in-out;
    width: 70px;
    height: 60px;
    right: -70px;
    top: 0px;
    @include plat-select-model;
}

.cercle-check {
    transition: all 450ms ease-in-out;
    @include cercle-check-model;
}