/*Tuilles restaurants*/

#restaurants {
    width: auto;
    background-color: $fond;
    padding: 30px 20px 0px 20px;
    display: flex;
    flex-direction: column;

    h1 {
        margin-bottom: 20px;
    }
}

#liste-restaurant {
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.tuille-restaurant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 25px;
    width: auto;
    height: auto;
    @include ombre-light;
    @include survol-bis;
}

.tuille-restaurant__image {
    display: flex;
    border-radius: 10px 10px 0px 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.tuille-restaurant img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.tuille-restaurant__info {
    padding: 15px 25px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        padding-top: 5px;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.label-new {
    @include new;
}

.tuille-restaurant__favoris {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;

    img {
        position: absolute;
    }

    .heart {
        z-index: 1;
        opacity: 1;
    }

    .heart-rainbow {
        transform: scale(0.3);
        z-index: 0;
        opacity: 1;
    }


}

.tuille-restaurant__favoris:hover .heart-rainbow {
    transform: scale(1.5);
}

.heart-rainbow {
    transition: transform 250ms ease-in-out;
}