/*Entête et navigation principale*/

#entete-img {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 0px;

    img {
        height: 30px;
    }
}

nav {
    display: flex;
    flex-direction: column;

    h3 {
        color: $fond;
    }
}

#localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0;
    @include bg-banderole-color();

    &__logo {
        width: 1.5em;
        height: auto;
    }
}

form {
    padding-left: 10px;
}

input {
    width: 150px;
    box-sizing: border-box;
    border-style: none;
    color: black;
    background-color: $fond;

    &:focus {
        outline: none;
    }
}

#exploration {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 20px 10px 30px 10px;
    background-color: lighten($fond, 5%);

    &>* {
        text-align: center;
    }

    h1 {
        padding-bottom: 10px;
    }

    h2 {
        font-size: larger;
        font-weight: normal;
        color: grey;
    }
}

.bt {
    @include bt-model;
    @include ombre;
    @include survol;
}